h2 {
  background-color: black;
  color: white;
  font-family: sans-serif;
  width: fit-content;
  margin: 20px auto;
}
#table {
  padding: 20px 10px;
  width: fit-content;
  display: flex;
  margin: auto;
  margin-top: 20px;
  font-size: 25px;
  /* border: 1px dotted black; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container input {
  width: 150px;
  height: 20px;
  border-radius: 8px;
  text-align: center;
  padding: 4px 0px;
}
.container button {
  padding: 5px 20px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
}
